<% include partials/header %>
<div class="container">

  <div class="row">
  <% campsite.forEach(function(campsite){ %>
    <h1><%= campsite.name %></h1>
    <div class="col-md-3 col-sm-6">
      <div class="thumbnail">
        <img src="<%= campsite.image %>" alt="Campsite image">
        <div class="caption">
          <p> <%= campsite.description %>  </p>
        </div>
        <div class="">
          <a class="btn btn-success" href="/campgrounds/<%= campsite.id %>/comments/new">Add New Comment</a>
        </div>
      </div>

      <div class="caption">
        <ul>
          <% comments.forEach(function(comment){ %>
            <li><strong><%= comment.author %></strong> -- <%= comment.comment %></li>
          <% }) %>
        </ul>
      </div>

    </div>
  <% }) %>
  </div>
  <hr>
  <div class="row">
    <a href="/campgrounds">View all Campgrounds</a>
  </div>


</div>
<% include partials/footer %>
